body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0px;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	color: #11213d;
	font-size: 30px;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

tr, td {
	border: 1px solid #11213d;
}

th {
	background-color: #11213d;
	color: white;
}

td {
	font-size: 30px;
}

.cajaAzul {
	background-color: #11213d;
	color: white;
	margin: 0;
	padding: 5%;
}

.cajaNormal {
	background-color: white;
	color: #1c1c1c;
	margin: 0;
	padding: 5%;
}

.cajaFormu {
	padding: 10%;
	text-align: center;
	margin-bottom: 10%;
}